
.checkbox-color-filter {
    border: 0;
    width: 25px;
    height: 25px;
    margin-left: 5px !important;
}
.color-filter {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-bottom: -34px;
}
.active-color{
  border: 2px solid #ff5063;
}

.qty ul li {
  display: inline-block;
}


.color-green{
  color:green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.shop-page-product .product-thumb .product-imageblock a{
  height: 300px;
}

.active-manu{
  background-color: #fa4251  !important;
  color: #fff  !important;
}

.active{
  color: red !important;
}
